[tool.poetry]
name = "asynctor"
version = "0"  # Managed by poetry-plugin-version
description = "Async functions to compare with anyio and asyncio, and toolkit to read excel with async/await."
homepage = "https://github.com/waketzheng/asynctor"
repository = "https://github.com/waketzheng/asynctor.git"
authors = ["Waket Zheng <waketzheng@gmail.com>"]
readme = "README.md"

[tool.poetry.dependencies]
python = "^3.9"
anyio = ">=3.7.1"
pandas = {version = ">=2.2.0", optional = true}
openpyxl = {version = ">=3.1.0", optional = true}
redis = ">=5.0.0"
# requires by anyio:
#    "exceptiongroup >= 1.0.2; python_version < '3.11'",
#    "typing_extensions >= 4.1; python_version < '3.11'",

[tool.poetry.extras]
xls = ["pandas", "openpyxl"]


[tool.poetry.group.dev.dependencies]
fast-dev-cli = "^0.11.4"
pandas = "^2.2.3"
openpyxl = "^3.1.5"
fastapi = "^0.115.5"
httpx = "^0.27.2"
asgi-lifespan = "^2.1.0"
types-redis = "^4.6.0.20241004"
pandas-stubs = {version=">=2.2.0", python="^3.10"}
pytest-mock = "^3.14.0"
bandit = "^1.7.10"

[tool.mypy]
pretty = true
python_version = "3.9"
ignore_missing_imports = true
check_untyped_defs = true

[tool.coverage.report]
omit = ["*/tests/*", "test_*"]
exclude_lines = [
    "pragma: no cover",
    "@overload",
    'if __name__ == "__main__":',
    "if TYPE_CHECKING:",
]

[build-system]
requires = ["poetry-core"]
build-backend = "poetry.core.masonry.api"

[tool.poetry-plugin-version]
source = "init"
