# This workflow will install Python dependencies, run tests and lint with a single version of Python
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-python

name: ci

on:
  push:
    branches: [ "main", "dev" ]
    paths-ignore:
      - "docs/**"
      - "*.md"
  pull_request:
    branches: [ "main" ]
    paths-ignore:
      - "docs/**"
      - "*.md"

permissions:
  contents: read

jobs:
  lint:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: ["3.10", 3.14]
    steps:
      - uses: actions/checkout@v6
      - name: Setup Python
        id: setup-python
        uses: actions/setup-python@v6
        with:
          python-version: ${{ matrix.python-version }}
          allow-prereleases: true
      - uses: astral-sh/setup-uv@v7
        with:
          activate-environment: true
          enable-cache: true
      - uses: astral-sh/ruff-action@v3
      - uses: extractions/setup-just@v3  # Or: uv tool install rust-just
      - name: Setup PDM by uv
        run: |
          uv tool install pdm --with pdm-plugin-i
          pdm config check_update false
          pdm config use_uv true
      - name: Setup fast by uv
        run: uv tool install fastdevcli-slim
      - name: Setup ty
        run: uv tool install ty
      - name: Install deps
        run: just deps --no-group test
      - name: Check code style and Type Hints
        run: just _check
      - name: Check Type Hints for asynctor.enums
        if: matrix.python-version == '3.14'
        run: just ty311
      - name: Check by mypy
        run: just mypy

  test:
    runs-on: ubuntu-latest
    needs: lint
    services:
      redis:
        image: redis
        # Set health checks to wait until redis has started
        options: >-
          --health-cmd "redis-cli ping"
          --health-interval 10s
          --health-timeout 5s
          --health-retries 5
        ports:
          # Maps port 6379 on service container to the host
          - 6379:6379
    strategy:
      matrix:
        python-version: ["3.10", 3.11, 3.12, 3.13, 3.14]
    steps:
      - uses: actions/checkout@v6
      - name: Setup Python
        id: setup-python
        uses: actions/setup-python@v6
        with:
          python-version: ${{ matrix.python-version }}
          allow-prereleases: true
      - uses: astral-sh/setup-uv@v7
        with:
          enable-cache: true
      - name: Setup PDM by uv
        run: |
          uv tool install pdm
          pdm config check_update false
          pdm config use_uv true
      - name: Setup fast by uv
        run: |
          uv tool install fastdevcli-slim
      - name: Install deps
        run: uvx --from rust-just just deps --no-group lint
      - name: Test with pytest
        run: uvx --from rust-just just _test
        env:
          # The hostname used to communicate with the Redis service container
          REDIS_HOST: localhost
      - name: Test without sniffio
        run: |
          uv pip uninstall sniffio
          uv run --no-sync pytest tests/test_aio.py
      - name: Test anyio < 4.12
        run: |
          uv pip install sniffio
          uv pip install "anyio<4.12"
          uv run --no-sync pytest tests/test_aio.py
      - name: Test trio suppport for aio
        run: |
          uv pip install pytest-trio
          echo -e "[pytest]\ntrio_mode = true" > pytest.ini
          uv run --no-sync pytest -s tests/test_aio.py
          rm pytest.ini
      - name: Upload Coverage
        run: uvx coveralls --service=github
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          COVERALLS_FLAG_NAME: ${{ matrix.python-version }}
          COVERALLS_PARALLEL: true

  coveralls:
    name: Finish Coveralls
    needs: test
    runs-on: ubuntu-latest
    steps:
      - uses: astral-sh/setup-uv@v7
        with:
          enable-cache: true
      - name: Finished
        run: uvx coveralls --finish
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
